*.key
*.ca
*.pem
*.csr
*.srl
*.cnf
*.crt
.vagrant
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
keys.json